.search-bar{
    display: flex;
    align-items: center;
    padding: 1rem;
}



.logo {
    height: 3rem;
    padding-right: 1.5rem;
    border-right: 2px solid gray;
}

.cursive {
    height: 3rem;
    padding-left: 1rem;
}