.search-bar{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    wrap: nowrap;
}


.logo {
    height: 3rem;
    padding-right: 1.5rem;
    border-right: 2px solid gray;
}

.cursive {
    height: 3rem;
    padding-left: 1rem;
}

.search-icons i{
    padding: 1rem;
}

.search-field {
    width: 30%;
    padding: .5rem 2rem;
    padding-left: 12%;
    border-radius: 5px;
}