.comment p {
    line-height: 2rem;
    padding-left: .75rem;
    padding-bottom: .5rem;
}

.comment span {
    font-weight: bold;
    padding-right: .5rem;
}

.comment-field {
    width: 100%;
}

.add-comment {
    width: 80%;
    padding: .75rem;
    border: none;
    font-weight: bold;
}

.comment-field button {
    width: 20%;
    height: 100%;
    padding: .75rem;
}