.post img {
    width: 100%;
}

.poster-id {
    display: flex;
    padding: .5rem;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;
}

.text-content {
    box-shadow: 1px 1px 1px 1px gray;
}

.id-image img{
    width: 2rem;
    border-radius: 50%
}

.poster-id h1 {
    padding: .75rem;
}

.social {
    padding-left: .75rem;
}

.social i {
    padding: .5rem;
    padding-left: 0;
}

.like-total {
    font-weight: bold;
    padding: .5rem 0;
}